.chat {
  max-width: 142.3rem;
  width: 100%;
  background-color: var(--primary-light);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url("../../assets/svg/messager-background.png");
  background-repeat: no-repeat;
  background-position: center center;
}

.chat_header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 8rem;
  padding-right: 3.4rem;
  padding-left: 3.9rem;
}

.user {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-name {
  margin-left: 1.9rem;
  font-weight: medium;
  font-size: 2rem;
}

.chat-input {
  background-color: var(--background-main);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 8rem;
  padding-left: 3.9rem;
  padding-right: 4.9rem;
}

.chat-input_field {
  all: unset;
  border: 0;
  font-size: 2rem;
  max-width: 142.3rem;
  width: 100%;
  height: 8rem;
}

.chat-input_field::placeholder {
  color: var(--primary-main);
  font-size: 2rem;
}

.chat_messages {
  max-height: 88.8rem;
  padding: 0 4rem 3.2rem;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}
